<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Stream-inator</title>
    <script src="/static/vendor/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/base.css">

    <style>
        {{ block "style" .  }}{{ end }}
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <h1>Stream-inator</h1>
                </li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/match">Match</a></li>
                <li><a href="/comms">Comms</a></li>
                <li><a href="/bracket">Bracket</a></li>
                <li><a href="/lower">Lower 3<sup>rd</sup></a></li>
                <li><a href="/config">Config</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{template "content" .}}
    </main>
</body>

</html>