{{define "content"}}
<article id="config" hx-target="this" hx-select="#config">
    <div>
        <div>
            <p>Config is stored at: <code>{{.Path}}</code></p>
            <p></p>
        </div>

        <form id="configForm" action="/config" method="POST">
            <fieldset role="group">
                <button type="submit">Save</button>
                <button type="reset" hx-delete="/config" hx-confirm="Are you sure?" hx-swap="none">Reset</button>
            </fieldset>

            <input type="hidden" id="config" name="config">
        </form>
    </div>

    <div id="editor" style="height: 30rem">{{.Config}}</div>

    <script src="/static/vendor/ace/ace.min.js"></script>
    <script>
        const editor = ace.edit("editor");
        editor.session.setMode("ace/mode/json");

        document.getElementById("configForm").addEventListener("submit", function (event) {
            const config = editor.getValue();
            document.getElementById("config").value = config;
        });
    </script>
</article>
{{end}}