{{define "tile"}}
<div id="{{.}}">
	<div style="display: flex; justify-content: space-between; align-items: center; padding: 1rem;">
		<h2>{{.}}</h2>
		<button hx-on:click="window.open('://' + window.location.host + '/{{.}}', '_blank', 'popup=1')">Pop</button>
	</div>
	<div hx-get="/{{.}}" hx-trigger="load" hx-select="main"></div>
</div>
{{end}}

{{define "content"}}
<div>
	<div>
		<p>
			Data is available at <code>{{.OutFile}}</code>
			and <code><a href="/state.json" target="_blank">/state.json</a></code>
		</p>
		<p>
			Access Stream-inator with any device on the network at <code>http://{{.LocalIP}}</code>
		</p>
	</div>

	<div style="display: grid; gap: 1rem; grid-auto-columns: 1fr">
		{{template "tile" "match"}}
		{{template "tile" "comms"}}
		{{template "tile" "lower"}}
		{{template "tile" "bracket"}}
	</div>
</div>
{{end}}