{{define "content"}}
<article id="lower" hx-target="this" hx-select="#lower">
<form action="/lower" method="POST" hx-boost>
    <fieldset>
        <label for="lower">Lower 3<sup>rd</sup> Top</label>
        <input type="text" name="lower-top" id="lower-top" value="{{.LowerThird.Top}}">
    </fieldset>

    <fieldset>
        <label for="lower">Lower 3<sup>rd</sup> Bottom</label>
        <input type="text" name="lower-bottom" id="lower-bottom" value="{{.LowerThird.Bottom}}">
    </fieldset>

    <fieldset>
        <label for="minutes">Break</label>
        <input type="number" name="minutes" id="minutes" placeholder="Minutes">
        or set it by the end time
        <input type="time" name="timeout" id="timeout">
        <button>Start Timer</button>
    </fieldset>

    <button type="submit">Save</button>
</form>
</article>
{{end}}